.activity{
  margin-bottom: 15px;
}

.content-header .content-title{
  font-weight: bold;
  font-size: 21px;
  margin: 9px;
}

.content-body{
  margin-left: 13px;
  margin-right: 13px;
  padding-top: 24px;
  border-top: 1px solid #c2c3c2;
}

.content-body .ant-avatar{
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 37.5px;
  background-color: white;
  border: 1px solid #bdbbbb;
  color: #87d068;
}

.activity-content{
  height: 76px;
  display: block;
}

.activity-content .activity-body{
  height: 76px;
  display: table-cell;
  vertical-align: middle;
} 